@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

.sidebar {
    position: fixed;
    height: 100%;
    width: 240px;
    background: #0D2048;
    transition: all 0.5s ease;
}

.sidebar.active {
    width: 60px;
}

.sidebar .logo-details {
    height: 80px;
    display: flex;
    align-items: center;
}

.sidebar .logo-details i {
    font-size: 28px;
    font-weight: 500;
    color: #fff;
    min-width: 60px;
    text-align: center
}

.sidebar .logo-details .logo_name {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding-left: 15px;
}

.sidebar .logo-details img {
    color: #fff;
    text-align: center;
    height: 40px;
    padding-left: 11px;
}

.sidebar .nav-links {
    margin-top: 10px;
}

.sidebar .nav-links li {
    position: relative;
    list-style: none;
    height: 50px;
}

.sidebar .nav-links li a {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
}

.sidebar .nav-links li a.active {
    background: #9f1010 ;

}


.sidebar .nav-links li a:hover {
    background: #9f1010 ;
}

.sidebar .nav-links li i {
    min-width: 60px;
    text-align: center;
    font-size: 18px;
    color: #fff;
}

.sidebar .nav-links li a .links_name {
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: 400;
    white-space: nowrap;
}

.sidebar .nav-links .log_out {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.home-section {
    position: relative;
    background: #f4f4f4;
    min-height: 100vh;
    width: calc(100% - 240px);
    left: 240px;
    transition: all 0.5s ease;
}

.sidebar.active~.home-section {
    width: calc(100% - 60px);
    left: 60px;
}

.home-section nav {
    display: flex;
    justify-content: space-between;
    height: 50px;
    background: #f4f4f4;
    display: flex;
    align-items: center;
    position: fixed;
    width: calc(100% - 240px);
    left: 240px;
    z-index: 100;
    padding: 0 20px;
    transition: all 0.5s ease;
}

.sidebar.active~.home-section nav {
    left: 60px;
    width: calc(100% - 60px);
}

.home-section nav .sidebar-button {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 500;
}

nav .sidebar-button i {
    font-size: 35px;
    margin-right: 10px;
}

.home-section nav .profile-details {
    display: flex;
    align-items: center;
    background: #fff;
    border: 2px solid #EFEEF1;
    border-radius: 6px;
    height: 50px;
    padding: 0 15px 0 2px;
}

nav .profile-details img {
    height: 40px;
    width: 40px;
    border-radius: 6px;
    object-fit: cover;
}

nav .profile-details .user_name {
    font-size: 15px;
    font-weight: 500;
    color: #333;
    margin: 0 10px;
    white-space: nowrap;
}

nav .profile-details i {
    font-size: 25px;
    color: #333;
}
/*-------------------------------FAQs------------------*/
#faqs { 
background-color: #e7ebf3;
height: 100%;
padding:50px 0;
}
.banner{
    background-image: url("/ocirs_img/faqbanner.jpg");   
    padding-top: 80px;
    padding-bottom: 80px;
}
.banner h1{
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
    color: #ffffff;
}
.accordion .card{
    border-radius: 0;
    background: none;
    border-left-width: 0;
    border-right-width: 0;
}
.accordion .card .card-header{
    background:none;
    padding-top:7px;
    padding-bottom:7px;
    border-radius: 0;
}
.accordion .card-header h2{
    font-size: 1rem;
}
.accordion .card-header .btn{
    color:#0c7f90;
    width: 100%;
    text-align: left;
    padding-left: 0;
    padding-right: 0;
}

.accordion .card-header i{
    font-size: 1.3rem;
    position: absolute;
    top: 15px;
    right: 1rem;
}
.accordion .card-body{
    color:#666;
}
