/* Googlefont Poppins CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

.sidebar {
    position: fixed;
    height: 100%;
    width: 240px;
    background: #0D2048;
    transition: all 0.5s ease;
}

.sidebar.active {
    width: 60px;
}

.sidebar .logo-details {
    height: 80px;
    display: flex;
    align-items: center;
}

.sidebar .logo-details i {
    font-size: 28px;
    font-weight: 500;
    color: #fff;
    min-width: 60px;
    text-align: center
}

.sidebar .logo-details .logo_name {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding-left: 15px;
}

.sidebar .logo-details img {
    color: #fff;
    text-align: center;
    height: 40px;
    padding-left: 11px;
}

.sidebar .nav-links {
    margin-top: 10px;
}

.sidebar .nav-links li {
    position: relative;
    list-style: none;
    height: 50px;
}

.sidebar .nav-links li a {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
}

.sidebar .nav-links li a.active {
    background: #d70505 ;

}

.sidebar .nav-links li a:hover {
    background: #9f1010 ;
}

.sidebar .nav-links li i {
    min-width: 60px;
    text-align: center;
    font-size: 18px;
    color: #fff;
}

.sidebar .nav-links li a .links_name {
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: 400;
    white-space: nowrap;
}

.sidebar .nav-links .log_out {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.home-section {
    position: relative;
    background: #f4f4f4;
    min-height: 100vh;
    width: calc(100% - 240px);
    left: 240px;
    transition: all 0.5s ease;
}

.sidebar.active~.home-section {
    width: calc(100% - 60px);
    left: 60px;
}

.home-section nav {
    display: flex;
    justify-content: space-between;
    height: 50px;
    background: #f4f4f4;
    display: flex;
    align-items: center;
    position: fixed;
    width: calc(100% - 240px);
    left: 240px;
    z-index: 100;
    padding: 0 20px;
    transition: all 0.5s ease;
}

.sidebar.active~.home-section nav {
    left: 60px;
    width: calc(100% - 60px);
}

.home-section nav .sidebar-button {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 500;
}

nav .sidebar-button i {
    font-size: 35px;
    margin-right: 10px;
}

.home-section nav .profile-details {
    display: flex;
    align-items: center;
    background: #fff;
    border: 2px solid #EFEEF1;
    border-radius: 6px;
    height: 50px;
    padding: 0 15px 0 2px;
}

nav .profile-details img {
    height: 40px;
    width: 40px;
    border-radius: 6px;
    object-fit: cover;
}

nav .profile-details .user_name {
    font-size: 15px;
    font-weight: 500;
    color: #333;
    margin: 0 10px;
    white-space: nowrap;
}

nav .profile-details i {
    font-size: 25px;
    color: #333;
}



.home-content {
    padding-top: 50px;
    background: #f4f4f4;
}

.cardBox {
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    /* grid-template-columns: repeat(2, 1fr); */
    grid-gap: 30px;

}

.cardBox .card {
    position: relative;
    background: #fff;
    padding: 40px;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}

.cardBox .card .card-content {
    position: relative;
    font-weight: 500;
    font-size: 2.5rem;
    text-align: center;
}

.card-content a {
    text-decoration: none;
    color: white;
}



.cardBox .banner {
    color: #fff;
    position: relative;
    padding: 40px;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    background: linear-gradient(135deg, #f44b08, #fb0633);
    width: 100%;
}

.cardBox .banner .card-content {
    position: relative;
    font-weight: 500;
    font-size: 30px;
    text-align: center;
}


.details {
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 30px;
    /* margin-top: 10px; */
}

.details .recentReports {
    position: relative;
    display: inline;

    background: #fff;
    padding: 20px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
}

.details .cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.cardHeader h2 {
    font-weight: 600;
    color: #0D2048;
    font-size: 25px;

}

.details .cardHeader .btn {
    position: relative;
    padding: 5px 10px;
    background: var(--blue);
    text-decoration: none;
    color: var(--white);
    border-radius: 6px;
}

.details table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.details table thead td {
    font-weight: 600;
}

.details .recentReports table tr {
    color: var(--black1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.details .recentReports table tr:last-child {
    border-bottom: none;
}

.details .recentReports table tbody tr:hover {
    background: #f7f7f7;
    color: black;
}

.details .recentReports table tr td {
    padding: 10px;
    padding-left: 0px;
}

.details .recentReports table tr td:last-child {
    text-align: end;
}

.details .recentReports table tr td:nth-child() {
    text-align: end;
}

.details .recentReports table tr td:nth-child() {
    text-align: center;
}

/* status of the reported emergency */

.status.received {
    padding: 2px 4px;
    background: #545454;
    color: #fff;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}

.status.pending {
    padding: 2px 4px;
    background: #e9b10a;
    color: #fff;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}

.status.onGoing {
    padding: 2px 4px;
    background: rgb(56, 183, 17);
    color: #fff;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}

.status.resolved {
    padding: 2px 4px;
    background: #1795ce;
    color: #fff;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}

.status.unResolved {
    padding: 2px 4px;
    background: #f00;
    color: #fff;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}

/*  */

.stats {
    position: relative;
    display: inline;
    padding: 20px;
    background: #fff;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
}

.stats i {
    color: #FF724C;
}

.stats h2::after {
    content: "";
    display: flex;
    position: relative;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 40px;
    border-radius: 5px;
    background: linear-gradient(135deg, #f44b08, #fb0633);
}

.recentReports h2::after {
    content: "";
    display: flex;
    position: relative;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 40px;
    border-radius: 5px;
    background: linear-gradient(135deg, #f44b08, #fb0633);
}

.stats table tr td {
    padding: 12px 10px;
}

.stats table tr td h4 {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2rem;
}

.stats table tr td h4 span {
    font-size: 14px;
    color: var(--black2);
}
.stats button{
    width: 110px;
}

.container {
    max-width: 100%;
    margin: 0 auto;
    height: 100%;
}

.container .title {
    font-size: 30px;
    font-weight: 600;
    position: relative;
    padding-bottom: 30px;
}

.container .title::after {
    content: "";
    display: flex;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 40px;
    border-radius: 5px;
    background: linear-gradient(135deg, #f44b08, #fb0633);
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3%;
}

.card {
    overflow: hidden;
    background-color: #fff;
    border-radius: 30px;
    text-align: center;
    height: 100%;
    width: 100%;
}


.card_img img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.card_body {
    padding: 26px 20px 36px 20px;
}

.card_title {
    font-weight: 900;
    text-transform: capitalize;

    font-size: 19px;
    padding-bottom: 20px;
}

.card_body p {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.7;

}
p.card_author {
    font-size: 15px;
    padding-top: 15px;

}

p.card_author a {
    color: #1B1C34;
    font-style: italic;
}

p.card_author a:hover {
    font-weight: bold;
}





/* Responsive Media Query */
@media (max-width: 1240px) {
    .sidebar {
        width: 60px;
    }

    .sidebar.active {
        width: 220px;
    }

    .home-section {
        width: calc(100% - 60px);
        left: 60px;

    }

    .sidebar.active~.home-section {
        /* width: calc(100% - 220px); */
        overflow: hidden;
        left: 220px;
    }

    .home-section nav {
        width: calc(100% - 60px);
        left: 60px;
    }

    .sidebar.active~.home-section nav {
        width: calc(100% - 220px);
        left: 220px;
    }
}

/*-------- Preloader --------*/
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    bottom: 0;
    background-color: #fff;
    z-index: 99999999999 !important;
}

[data-loader="circle-side"] {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 50%;
    left: 50%;
    margin-left: -25px;
    margin-top: -25px;
    -webkit-animation: circle infinite .95s linear;
    -moz-animation: circle infinite .95s linear;
    -o-animation: circle infinite .95s linear;
    animation: circle infinite .95s linear;
    border: 2px solid #f7274a;
    border-top-color: rgba(0, 0, 0, 0.2);
    border-right-color: rgba(0, 0, 0, 0.2);
    border-bottom-color: rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    border-radius: 100%;
}

#loader_form {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    bottom: 0;
    background-color: #fafafa;
    background-color: rgba(255, 255, 255, 0.6);
    z-index: 99999999999 !important;
    display: none;
}

[data-loader="circle-side-2"] {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 50%;
    left: 50%;
    margin-left: -25px;
    margin-top: -25px;
    -webkit-animation: circle infinite .95s linear;
    -moz-animation: circle infinite .95s linear;
    -o-animation: circle infinite .95s linear;
    animation: circle infinite .95s linear;
    border: 2px solid #f7274a;
    border-top-color: rgba(0, 0, 0, 0.2);
    border-right-color: rgba(0, 0, 0, 0.2);
    border-bottom-color: rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    border-radius: 100%;
}

@-webkit-keyframes circle {
    0% {
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes circle {
    0% {
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-o-keyframes circle {
    0% {
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes circle {
    0% {
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


@media (max-width: 1150px) {
    .datetime {
        color: #fff;
        background: #2A2C41;
        font-family: "Segoe UI", sans-serif;
        width: 160px;
        padding: 5px 0px;
        border-radius: 5px;
        transition: 0.5s;
    }

    .date {
        font-size: 8px;
        font-weight: 300;
        letter-spacing: 2px;
    }

    .time {
        font-size: 15px;
    }
}

@media (max-width: 700px) {

    nav .sidebar-button .dashboard,
    nav .profile-details .user_name,
    nav .profile-details i {
        display: none;
    }

    .home-section nav .profile-details {
        height: 50px;
        min-width: 40px;
    }

    .home-content .sales-boxes .sales-details {
        width: 560px;
    }

    .cardBox {
        position: relative;
        width: 100%;
        padding: 20px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
    }

    .details {
        position: relative;
        width: 100%;
        padding: 20px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        /* margin-top: 10px; */
    }

    .recentReports .reports {
        font-size: 10px;
    }

    .cardHeader h2 {
        font-size: 20px;
    }

    .cardHeader a {
        font-size: 10px;
    }

    .status.status.pending,
    .status.onGoing,
    .status.unResolved,
    .status.received,
    .status.resolved {
        font-size: 10px;
    }

    .cardBox .banner .card-content {
        font-size: 20px;

    }

}

@media (max-width: 550px) {
    .overview-boxes .box {
        width: 100%;
        margin-bottom: 15px;
    }

    .sidebar.active~.home-section nav .profile-details {
        display: none;
    }

}

@media (max-width: 400px) {
    .sidebar {
        width: 0;
    }
 
    .sidebar.active {
        width: 60px;
    }

    .home-section {
        width: 100%;
        left: 0;
    }

    .sidebar.active~.home-section {
        left: 60px;
        width: calc(100% - 60px);
    }

    .home-section nav {
        width: 100%;
        left: 0;
    }

    .sidebar.active~.home-section nav {
        left: 60px;
        width: calc(100% - 60px);
    }

}




.main-content{
    transition: margin-left 300ms;
    margin-left:345px; 

}
.main-content h2{
    color: #ffffff;
    font-size: 25px;
    align-self: center;
    font-weight: unset;
}
/*main*/
main{
    padding-bottom:10%;
    padding-left: 0px;
    background: #ffffff;

}
/*cards / card-single*/
.cards{
    display: grid;
    grid-gap: 1rem;
    margin-top: 1rem;
    margin-left: 3.5rem;
    margin-right: 3.5rem;
    grid-template-columns: 3fr 1fr;
}
.card-single{
    display: flex;
    justify-content: space-between;
    background:rgb(255, 255, 255);
    padding: 1rem;
    border-radius: 2px;
    box-shadow: 0px 10px 15px rgba(80, 80, 80, 0.2);
}
.news1{

    display: flex;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    padding: 15px;
    
}
.card-single div:last-child span{
    font-size: 2rem;
    color:var(--main-color);
   
}
.card-single span:first-child {
    color: var(--text-grey);
}

@media (max-width: 720px) {
    .card-single:last-child{
        background: #fff;
        height: 830px;
    }
}
.card-single:last-child{
    background: #fff;
    height: 630px;
}
.card-single:last-child h1,
.card-single:last-child div:first-child span,
.card-single:last-child div:last-child span{
  color: rgb(0, 0, 0);
}


.user-wrapper small{
    color: #fff;
    padding-left: 10px;
}

.sidebar-brand h5{
    font-size: 15px;
    font-weight: unset;
}

.title p{
    font-size: 25px;
    letter-spacing: 1px;
    color: #0D2048;
    padding-top: 20px;
    font-weight: 600;
    font-family:'Poppins', sans-serif ;
}
.title1 p{
    color:black;
    font-weight: bold;  
    padding-left: 57px;
    font-size: 25px;
    letter-spacing: 1px;
    padding-top: 20px;
    font-family:'Poppins', sans-serif ;
}
/* Table Styles */

.table-wrapper{

    box-shadow: 0px 10px 15px rgba(80, 80, 80, 0.2);
    
}

.fl-table {
    border-radius: 5px;
    font-size: 14px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
    height: 107%;

}
.fl-table th{
    font-size: 17px;
}
.fl-table span{
  
    font-size: 20px;
}
.fl-table span:hover{
    cursor: pointer;
    color: #04215f;
}
.fl-table td, .fl-table th {
    text-align: center;
    padding: 18px;
}

.fl-table td {
    border-right: 1px solid #f8f8f8;
    font-size: 13px;
}

.fl-table thead th {
    color: #0D2048;
    background: #F8F8F8;
    border: 1px solid rgb(228, 228, 228);
}


.fl-table thead th:nth-child(odd) {
    color: #0D2048;
    background: #F8F8F8;
}

.fl-table tr:nth-child(even) {
    background: #ffffff;
}


@media (max-width: 767px) {
    .fl-table {
        display: block;
        width: 100%;
    }
    .table-wrapper:before{
        content: "Scroll horizontally >";
        display: block;
        text-align: right;
        font-size: 11px;
        color: rgb(0, 0, 0);
        padding: 0 0 10px;
    }
    .fl-table thead, .fl-table tbody, .fl-table thead th {
        display: block;
    }
    .fl-table thead th:last-child{
        border-bottom: none;
    }
    .fl-table thead {
        float: left;
    }
    .fl-table tbody {
        width: auto;
        position: relative;
        overflow-x: auto;
    }
    .fl-table td, .fl-table th {
        padding: 20px .625em .625em .625em;
        height: 60px;
        vertical-align: middle;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
        width: 120px;
        font-size: 13px;
        text-overflow: ellipsis;
    }
    .fl-table thead th {
        text-align: left;
        border-bottom: 1px solid #f7f7f9;
    }
    .fl-table tbody tr {
        display: table-cell;
    }
    .fl-table tbody tr:nth-child(odd) {
        background: none;
    }
    .fl-table tr:nth-child(even) {
        background: transparent;
    }
    .fl-table tr td:nth-child(odd) {
        background: #ffffff;
        border-right: 1px solid #E6E4E4;
    }
    .fl-table tr td:nth-child(even) {
        border-right: 1px solid #E6E4E4;
    }
    .fl-table tbody td {
        display: block;
        text-align: center;
    }    
    .cards1{
       flex-direction: column;
    }
    .cards2{
        flex-direction: column;
     }


}
.banner{

    background-image: url("/ocirs_img/banner1.png");
    width: 100%;   
     padding: 50px;

}
.reportnow{
    height:20px; 
    width:100px; 
    text-align: center;
    font-size: 16px;
}

.banner button{
    margin: auto;
    display: block;
    height: 50px;
    max-width: 200px;
    width: 100%;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    background-image: linear-gradient(to right, #ee1a33 0%, #ff001e  51%, #b30c20  100%);
    transition: all 0.3s linear;
    cursor: pointer;
    box-shadow: 0px 10px 15px rgba(255, 255, 255, 0.2);
}
.banner button:hover{
    background-image: linear-gradient(to right, #e9001b 0%, #ff001e  51%, #970a1a  100%);
    color: rgb(240, 178, 178);
}
.news1 h1{
    font-size: 15px;
    padding-top: 10px;
    font-family:'Poppins', sans-serif ;
}
.news1 p {
    text-align: justify;
    font-family:'Poppins', sans-serif ;
    font-size: 14px;
}
.cards1{
    display: flex;
    grid-gap: 1rem;
    margin-top: 1rem;
    margin-left: 3.5rem;
    margin-right: 3.5rem;
}

.cards2{
    position: relative;
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
    background: #fff;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
    max-height: 2000px;
    overflow-x: auto;
    border:1px solid #ddd;
}
.cards2 .bar{
    min-width: 110px;
    height: 250px;
    padding: 10px;
    line-height: 110px;
    text-align: center;
}
.cards2::-webkit-scrollbar{
    width: 0;
}
.cards3{
    display: flex;
    margin-right:4rem;
    justify-content: space-between;
    padding: 5px;
}

.cards9{
    position: relative;
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
    padding: 20px;
    background: #fff;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
    max-height: 2000px;
    overflow-x: auto;
    border:1px solid #ddd;
}
.cards9 .bar{
    min-width: 110px;
    height: 250px;
    line-height: 110px;
    text-align: center;
    background-color:#ddd;
}
.cards9::-webkit-scrollbar{
    width: 0;
}
.cards3{
    display: flex;
    margin-right:3rem;
    justify-content: space-between;
    padding: 5px;

}
.card3{
    align-items: center;
    align-content: center;
    flex: 40%;
}
.card3 ul{
    padding-top: 20px;
    padding-left: 17%;
}
@media (max-width: 400px) {
    .cards3 {
       flex-direction: column;
    }
    .cards10 {
        position: relative;
        overflow-x: auto;
    }
}
.card4{
    flex: 100%;
}  
.cards5 p{
    color:black;
    font-weight: bold;
    font-size: 25px;
    letter-spacing: 1px;
    padding-top: 20px;
    font-family:'Poppins', sans-serif ;
}
.cards5 .pie{
    position: relative;
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
    background: #fff;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
    max-height: 2000px;
}
.cards5 ::-webkit-scrollbar{
    width: 0px;
}
.card6 h1{
    text-align: center;
}
.card6{
    display:flex;
    flex: 50%;
    padding-top: 3px;
    padding-left: 5%;
}  
.inside{
    background-color: #fefefe;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    background:rgb(233, 233, 233);
    border-radius: 4px;
    padding:10px;
}
.barangay{
    width: 100%;

}
.card-single1{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
}

.card-single2{
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    background:rgb(255, 255, 255);
    padding: 1rem;
    border-radius: 2px;
    border: .1px solid rgb(184, 184, 184);
}
.card-single1 p{
font-size: 14px;
}   
.card-single1 h5{
    font-size: 17px;
    font-weight: bold;
}
/*rightside Header*/
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    height: 60px;
    background: #d32733;
    padding: 0 15px;
}
header h2 {
    display: flex;
    align-items: center;
}
label span {
    display: flex;
    align-items: center;
}

/*adminimg*/
.userimg{
    position: relative;
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
}
.cover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*nav-icons*/
.nav_icons{
    display: flex;
    background:#050c49;
    border: 1px solid #050c49 ;
    border-radius: 50px;
    display: flex;
    cursor: pointer;
    color:rgb(226, 222, 222);
    font-size: 1em;
    margin-left: 5px;
}
.nav_icons h5{
 font-weight: lighter;
 font-size: 15px;
 padding: 2px;
 padding-right: 15px;
 padding-left: 7px;
} 
.nav_icons h5:hover{
 color: #a8a8a8;
   } 
.nav_icons span{
    align-self: center;
    padding-left: 10px;
}
/*imgText*/
.imgtext{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgtext h4{
font-weight: 500;
line-height: 1.2em;
margin-left: 15px;
color: #fff;
}
.imgtext h4 span{
 font-size:0.8em;
 color:rgb(58, 65, 58);
}
.status{
    margin-top: 10px;
    margin-left: 10px;
}

p[value="Validating"] {
    background-color: #8390A2;
    color: white;
    font-size: 16px;
    width: 50%;
  }
  p[value="Dispatched"] {
    background-color: #b92828;
    color: white;
    font-size: 16px;
    width: 50%;
  }
  p[value="Processing"] {
    background-color: #22963f;
    color: white;
    font-size: 16px;
    width: 50%;
  }
  p[value="Unresolved"] {
    background-color: #e98e39;
    color: white;
    font-size: 16px;
    width: 50%;
  }
  p[value="Resolved"] {
    background-color: #1d6bda;
    color: white;
    font-size: 16px;
    width: 50%;
  }
.stat1{
    background-color: #8390A2;
    color: white;
    font-size: 16px;
}
.stat2{
    background-color: #b92828;
    color: white;
    font-size: 16px;
}
.stat3{
    background-color: #22963f;
    color: white;
    font-size: 16px;
}
.stat4{
    background-color: #e98e39;
    color: white;
    font-size: 16px;
}
.stat5{
    background-color: #1d6bda;
    color: white;
    font-size: 16px;
}
.status button{
    padding: 5px;
    cursor: auto;
}
.card-text{
    font-size: 14px;
}
@media (max-width: 1024px) {

    .container {
        max-width: 100%;
    }

    .grid {
        gap: 2%;
    }

    .grid {
        grid-template-columns: 1fr 1fr;
        gap: 2%;
    }

    .card {
        height: 450px;
    }
}


a {
    color: inherit;
   }
 a:hover{
     color: inherit;
   }


   .title p{
    font-size: 25px;
    letter-spacing: 1px;
    color: #0D2048;
    padding-top: 20px;
    font-weight: 600;
    font-family:'Poppins', sans-serif ;
}
.title1 p{
    font-weight: 600;
    color: #0D2048;
    font-size: 25px;
    padding-left: 57px;
    letter-spacing: 1px;
    padding-top: 20px;
    font-family:'Poppins', sans-serif ;
}
.title1 p::after {
    content: "";
    display: flex;
    position: relative;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 40px;
    border-radius: 5px;
    background: linear-gradient(135deg, #fe0212, #be0202);

}
@media (max-width: 400px) {
    .cards3 {
       flex-direction: column;
    }
    .cards10 {
        position: relative;
        overflow-x: auto;
    }
}
.dropdown-container{
    left:-125;
    font-size: 10px;
}
.dropdown-notifications{
    font-size:10px;
}
@media (max-width: 600px) {
    .cards3 {
       flex-direction: column;
    }
    .cards10 {
        position: relative;
        overflow-x: auto;
    }
}