/* Googlefont Poppins CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.sidebar {
    position: fixed;
    height: 100%;
    width: 240px;
    background: #2A2C41;
    transition: all 0.5s ease;
}

.sidebar.active {
    width: 60px;
}

.sidebar .logo-details {
    height: 80px;
    display: flex;
    align-items: center;
}

.sidebar .logo-details i {
    font-size: 28px;
    font-weight: 500;
    color: #fff;
    min-width: 60px;
    text-align: center
}

.sidebar .logo-details .logo_name {
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    padding-left: 15px;
}

.sidebar .logo-details img {
    color: #fff;
    text-align: center;
    height: 40px;
    padding-left: 11px;
}

.sidebar .nav-links {
    margin-top: 10px;
}

.sidebar .nav-links li {
    position: relative;
    list-style: none;
    height: 50px;
}

.sidebar .nav-links li a {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
}

.sidebar .nav-links li a.active {
    background: #FF724C;

}

.sidebar .nav-links li a:hover {
    background: #FF724C;
}

.sidebar .nav-links li i {
    min-width: 60px;
    text-align: center;
    font-size: 18px;
    color: #fff;
}

.sidebar .nav-links li a .links_name {
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    white-space: nowrap;
}

.sidebar .nav-links .log_out {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.home-section {
    position: relative;
    background: #f5f5f5;
    min-height: 100vh;
    width: calc(100% - 240px);
    left: 240px;
    transition: all 0.5s ease;
}

.sidebar.active~.home-section {
    width: calc(100% - 60px);
    left: 60px;
}

.home-section nav {
    display: flex;
    justify-content: space-between;
    height: 80px;
    background: transparent;
    display: flex;
    align-items: center;
    position: fixed;
    width: calc(100% - 240px);
    left: 240px;
    z-index: 100;
    padding: 0 20px;
    transition: all 0.5s ease;
}

.sidebar.active~.home-section nav {
    left: 60px;
    width: calc(100% - 60px);
}

.home-section nav .sidebar-button {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 500;
}

nav .sidebar-button i {
    font-size: 35px;
    margin-right: 10px;
}

.home-section nav .profile-details {
    display: flex;
    align-items: center;
    background: #fff;
    border: 2px solid #EFEEF1;
    border-radius: 6px;
    height: 50px;
    padding: 0 15px 0 2px;
}

nav .profile-details img {
    height: 40px;
    width: 40px;
    border-radius: 6px;
    object-fit: cover;
}

nav .profile-details .user_name {
    font-size: 15px;
    font-weight: 500;
    color: #333;
    margin: 0 10px;
    white-space: nowrap;
}

nav .profile-details i {
    font-size: 25px;
    color: #333;
}

/*  */


.home-content {
    padding: 40px 40px;
}


.profile-pic img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
    border-radius: 100px;

}

.profile-pic a {
    font-size: 14px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
    text-decoration: none;
    color: #2A2C41;
}

.profile-pic a:hover {
    color:#FF724C;
}

.profile-pic h1 {
    text-align: center;

}


/*  */

.card {
    position: relative;
    background-color: #ffffff;
    border-radius: 6px;
    box-shadow: 1px 5px 24px 0 rgba(68, 102, 242, 0.05);
}

.card .card-body {
    padding: 20px;
}

.card .card-body .navbar {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 20px;
    border-bottom: 1px solid #f0f0f3;
}

.card .card-body .navbar li {
    flex-basis: 0;
    flex-grow: 1;
    text-align: center;
    list-style: none;
}

.card .card-body .navbar li a {
    display: block;
    padding: 12px 20px;
    color: #2A2C41;
    border-radius: 4px;
    text-decoration: none;
    text-transform: capitalize;
    transition: all 0.15s ease-in-out;
}

.card .card-body .navbar li a.active {
    color: #f4f4f4;
    background-color: #2A2C41;
}

.card .card-body .navbar li a span.icon {
    display: none;
}

.card .card-body .navbar li a span.text {
    display: block;
}

.card .tab-content {
    padding: 16px;
}

.card .tab-content .tab-pane {
    display: none;
}

.card .tab-content .tab-pane.active {
    display: block;
}

/*  */



.content form .user-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}

.content p {
    color: #7a7a7a;
}

form .user-details .input-box {
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}

form .input-box span.details {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
    font-size: 15px;
}

.user-details .input-box input {
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;

    transition: all 0.3s ease;
}

form .gender-details .gender-title {
    font-size: 20px;
    font-weight: 500;
}

form .category {
    display: flex;
    width: 80%;
    margin: 14px 0;
    justify-content: space-between;
}

form .category label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

form .bot {
    display: flex;
    justify-content: flex-end;

}

form .button {
    height: 45px;
    margin: 35px 0;
    padding-left: 2%;

}

form .button input {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    padding: 10px;
    background: #FF724C;
}

/* form .button input:hover{
 transform: scale(0.99);
 background: linear-gradient(135deg, #f44b08, #fb0633);
 } */

form .button2 {
    height: 45px;
    margin: 35px 0;
    padding-left: 2%;

}

form .button2 input {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    padding: 10px;
    background: #2A2C41;
}

/*-------- Preloader --------*/
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    bottom: 0;
    background-color: #fff;
    z-index: 99999999999 !important;
}

[data-loader="circle-side"] {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 50%;
    left: 50%;
    margin-left: -25px;
    margin-top: -25px;
    -webkit-animation: circle infinite .95s linear;
    -moz-animation: circle infinite .95s linear;
    -o-animation: circle infinite .95s linear;
    animation: circle infinite .95s linear;
    border: 2px solid #f7274a;
    border-top-color: rgba(0, 0, 0, 0.2);
    border-right-color: rgba(0, 0, 0, 0.2);
    border-bottom-color: rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    border-radius: 100%;
}

#loader_form {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    bottom: 0;
    background-color: #fafafa;
    background-color: rgba(255, 255, 255, 0.6);
    z-index: 99999999999 !important;
    display: none;
}

[data-loader="circle-side-2"] {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 50%;
    left: 50%;
    margin-left: -25px;
    margin-top: -25px;
    -webkit-animation: circle infinite .95s linear;
    -moz-animation: circle infinite .95s linear;
    -o-animation: circle infinite .95s linear;
    animation: circle infinite .95s linear;
    border: 2px solid #f7274a;
    border-top-color: rgba(0, 0, 0, 0.2);
    border-right-color: rgba(0, 0, 0, 0.2);
    border-bottom-color: rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    border-radius: 100%;
}

@-webkit-keyframes circle {
    0% {
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes circle {
    0% {
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-o-keyframes circle {
    0% {
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes circle {
    0% {
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}








/* Responsive Media Query */
@media (max-width: 1240px) {
    .sidebar {
        width: 60px;
    }

    .sidebar.active {
        width: 220px;
    }

    .home-section {
        width: calc(100% - 60px);
        left: 60px;

    }

    .sidebar.active~.home-section {
        /* width: calc(100% - 220px); */
        overflow: hidden;
        left: 220px;
    }

    .home-section nav {
        width: calc(100% - 60px);
        left: 60px;
    }

    .sidebar.active~.home-section nav {
        width: calc(100% - 220px);
        left: 220px;
    }

    .profile-pic img {
        width: 100px;
    }

}

@media (max-width: 1150px) {
    .datetime {
        color: #fff;
        background: #2A2C41;
        font-family: "Segoe UI", sans-serif;
        width: 160px;
        padding: 5px 0px;

        border-radius: 5px;
        transition: 0.5s;
    }

    .date {
        font-size: 8px;
        font-weight: 300;
        letter-spacing: 2px;
    }

    .time {
        font-size: 15px;
    }


}

@media (max-width: 800px) {

    form .user-details .input-box {
        display: inline;
        width: 100%;
        ;
    }

    .home-content {
        padding: 40px 10px;
    }


}




@media (max-width: 700px) {

    nav .sidebar-button .dashboard,
    nav .profile-details .user_name,
    nav .profile-details i {
        display: none;
    }

    .home-section nav .profile-details {
        height: 50px;
        min-width: 40px;
    }

    .home-content .sales-boxes .sales-details {
        width: 560px;
    }

    .card .card-body .navbar li a span.text {
        font-size: 13px;
    }

    .content p {
        font-size: 12px;
        ;
    }

}

@media (max-width: 550px) {
    .overview-boxes .box {
        width: 100%;
        margin-bottom: 15px;
    }

    .sidebar.active~.home-section nav .profile-details {
        display: none;
    }

    .container {
        max-width: 100%;
    }


    form .user-details .input-box {
        margin-bottom: 15px;
        width: 100%;

    }


    form .category {
        width: 100%;
    }

    .content form .user-details {
        max-height: 700px;
        overflow-y: scroll;
        padding: 20px;
    }

    /* .user-details::-webkit-scrollbar {
    width: 5px;
  } */
}

@media(max-width: 459px) {
    .container .content .category {
        flex-direction: column;
    }

}


@media (max-width: 400px) {
    .sidebar {
        width: 0;
    }

    .sidebar.active {
        width: 60px;
    }

    .home-section {
        width: 100%;
        left: 0;
    }

    .sidebar.active~.home-section {
        left: 60px;
        width: calc(100% - 60px);
    }

    .home-section nav {
        width: 100%;
        left: 0;
    }

    .sidebar.active~.home-section nav {
        left: 60px;
        width: calc(100% - 60px);
    }


}

@media (max-width: 390px) {
    .card .card-body .navbar li a span.icon {
        display: block;
    }

    .card .card-body .navbar li a span.text {
        display: none;
    }
}
